@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Nunito:wght@200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#menu-bimage{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.849)),
                  url("../images/test-back1.jpg");*/
    background-image: url("../images/mb7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;
    height: 30vh;
    /*border: solid black;*/
    
}

li{
    display: inline-block;
    height: 10vh;
    color: white;
    margin-top: 50px;
    padding: 50px;
    font-size: 1.8em;
}

#logo{
    height: 200px;
    border-radius: 100px;
}
li a:link{
    color: white;
    text-decoration: none;
}
li a:visited{
    color: #EB9E9E;
}
li a:hover{
    color: black;
}
li a:active{
    color: greenyellow;
}

/*menu*/
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2em;


}
.main .menu-element{
    border: solid greenyellow;
    height: 40vh;
    color: #EB9E9E;
    font-size: 3em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

