@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Nunito:wght@200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#background-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.849)),
                  url("../images/test-back1.jpg");
    /*background-image: url("../images/test-back1.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;
    height: 30vh;
    
}

li{
    display: inline-block;
    color: white;
    margin-top: 50px;
    padding: 50px;
    font-size: 1.8em;
}

#logo{
    height: 200px;
    border-radius: 100px;
}

#login{
    display: block;
    margin: 50px 50px;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: black;
    padding: 0px 70px;
    border:none;
}
#login a{
    color: #EB9E9E;
    text-decoration: none;
}
#login :hover{
    color: white;
    font-size: 1.2em;

}


.container{
    float: right;
    margin: 2em;
    height: 40vh;
    width: 50vw;
    text-align: center;
    
}

.text{
    font-size: 5em;
    margin-bottom: 40px;
    color: white;
}

#menu{
    height: 7vh;
    padding: 0px 70px;
    border-radius: 50px;
    font-size: 2.0em;
    background-color: transparent;
    border: solid 3px #EB9E9E;

}
#menu a{
    color: white;
    text-decoration: none;
    
}
/*Links styling*/
li a:link{
    color: white;
    text-decoration: none;
}
li a:visited{
    color: #EB9E9E;
}
li a:hover{
    color: black;
}
li a:active{
    color: greenyellow;
}